node_modules
dist
.DS_Store
*.local
.env
public/assets/kenney/nature
public/assets/kenney/*/Side
public/assets/kenney/*.png
public/assets/kenney/*.txt
public/assets/kenney/*/Models/OBJ format
public/assets/kenney/*/Models/FBX format
